**/bin/
**/obj/
.git/
.github/
.vs/
.dotnet_home/
.nuget/
.appdata/
.localappdata/
artifacts/
publish/
RestApiDdd.Api/log/
RestApiDdd.Api/App_Data/DataProtectionKeys/
deploy-rds.sql
*.user
*.suo
*.log
aws-logger-errors.txt
